<app-navbar [prodActive]="''" [cartActive]="'active'" (onSearchTyping)="searchProduct($event)"></app-navbar>
<section class="section-name padding-y-sm">
  <div class="container">

  <header class="section-heading">
      <h3 class="section-title">Mon panier</h3>
  </header><!-- sect-heading -->

  <div class="row">
    <div class="col-md-3" *ngFor="let cartProd of cartProducts">
      <app-product [product]="cartProd" [btnClass]="'btn btn-danger'" [buttonText]="buttonRemove" (buttonClicked)="removeItem(cartProd.id)"></app-product>
   </div>
  </div>


  </div><!-- container // -->
  </section>
